<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
	<Properties>
		<property name="rolling_file_name">logs/xty-scheduler-task.log</property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %L %M - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${rolling_file_name}"
			filePattern="${rolling_file_name}.%d{yyyy-MM-dd.HH}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss } %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="10MB" />
		</RollingFile>
		<RollingFile name="red.log" fileName="logs/red.log"
			filePattern="red.%d{yyyy-MM-dd.HH}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss } - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="10MB" />
		</RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="red.log" level="info"
			additivity="false">
			<AppenderRef ref="red.log" />
		</Logger>
		<Root level="debug">
			<AppenderRef ref="Console" />
			<!--<AppenderRef ref="RollingFile" />-->
		</Root>
	</Loggers>
</Configuration>